.attendance {
  padding: 15px;
}

.heading {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}

.filterBar {
  margin-bottom: 18px;
}

.select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 15px;
}

.body {
  display: flex;
  gap: 15px;
}

.left {
  flex: 3;
  background: white;
  padding: 8px;
  border-radius: 8px;
}

.right {
  flex: 1;
  background: white;
  padding: 16px;
  border-radius: 8px;
  border-left: 2px solid #e8e8e8;
  font-size: 15px;
}

.blank {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 17px;
  border: 2px dashed #ccc;
  border-radius: 8px;
}

.filterBar {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.bigSelect {
  width: 260px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
}

.smallSelect {
  width: 160px;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
}

.hoverDayCell {
  cursor: pointer !important;
}

.rbc-day-bg:hover {
  cursor: pointer;
}
.rbc-event:hover {
  cursor: pointer;
}

