.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e293b; /* dark navy */
  padding: 12px 24px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.icon {
  margin-right: 8px;
  font-size: 22px;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: #cbd5e1;
  text-decoration: none;
  font-weight: 500;
}

.active {
  color: #38bdf8; /* sky blue highlight */
  border-bottom: 2px solid #38bdf8;
}

.authButtons {
  display: flex;
  gap: 12px;
}

.login {
  background: transparent;
  border: 1px solid #38bdf8;
  padding: 6px 12px;
  border-radius: 6px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: 500;
}

.register {
  background: #38bdf8;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}


.notificationWrapper {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.bell {
  font-size: 22px;
  color: white;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}



.dropdown {
  position: absolute;
  right: 0;
  background: white;
  color: black;
  width: 260px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 10px;
  z-index: 999;
}

.notificationItem {
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.notificationItem:last-child {
  border-bottom: none;
}

.noNotification {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: gray;
}

.unread {
  background-color: #e5f1ff; 
  border-left: 4px solid #007bff;
}
